footer {
    background-color: rgb(44, 44, 44);

    .footer__content a, i {
        color: white;
    }

    .footer__content a {
        font-size: 18px;
    }

    .footer__title {
        font-family: 'Shrikhand', cursive;
        font-size: 25px;
    }



}