body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/*SUBHEADER*/

.subheader {

    .subheader__iconemap i {
        font-size: 25px;
        color: black;
    }

    .subheader__content a {
        text-decoration: none;
        color: black;
        font-weight: 600;
    }

    button {
        border: 0;
        line-height: 2.5;
        padding: 5px 30px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        -webkit-box-shadow: 1px 5px 20px 9px rgba(0,0,0,0.25); 
        box-shadow: 1px 5px 20px 9px rgba(0,0,0,0.25);
        border-radius: 30px;
        background-color: #9356DC;
        background-image: linear-gradient(to top, #9356DC, #c466db, #FF79DA);
    }
}

/* MAIN */

/* Section fonctionnement */ 

.nav .nav__icon i {
    color: rgba(3, 3, 3, 0.39);
    font-size: 20px;
}