body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(241, 241, 241);
    margin: 0 auto;
}

.container-site {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* MAIN */

/*SECTION FONCTIONNEMENT*/

.section {

    &--fonctionnement {

        background-color: white;
        padding-bottom: 18px;
        padding-top: 18px;

        .section__title {
            font-size: 25px;
            padding-left: 25px;
        }

        .nav {

            .nav__number {
                padding: 1px 5px;
                color: white;
                background-color: #9356dc;
                border-radius: 10px;
                height: 18px;
            }

            }

            .nav__content {
                display: flex;
                justify-content: flex-start;
                box-shadow: 0 5px 16px #0000002e;
                width: 300px;
                margin: 5% 10%;
                border-radius: 16px;
                height: 62px;
            }

            .nav__icon i {
                color: rgba(3, 3, 3, 0.39);
                font-size: 20px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
            }
        }
    }

    .section--restaurants {

        .section__title {
            padding-left: 25px;
        }

        .cartresto {

            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .resto {
                width: 88%;
                border-radius: 18px;
                box-shadow: 0 5px 16px #0000002e;
                margin-top: 12px;
                margin-bottom: 20px;
            }

            .resto__content {
                color: black;
                padding-left: 12px;
                padding-bottom: 10px;
            }

            

            .resto__image img {
                box-sizing: content-box;
                border-radius: 18px 18px 0 0;
                width: 100%;
                height: 220px;
                object-fit: cover;
                position: relative;
                display: block;
                margin-bottom: 10px;
            }

            .resto__new {
                top: 13px;
                right: 8px;
                width: 56px;
                background: #99E2D0;
                padding: 5px 14px;
                font-size: 14px;
                color: #369658;
                font-weight: 800;
                border-radius: 3px;
            }
        }
    }