.page__title {

    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
        font-weight: 450;
    }

    i {
        font-size: 25px;
    }
}

.section{

    .section__entrees {
        
        .section__entrees {

            
        }
    }
    
}